In [1]:
from Modules.utils import sentiment_clossifier

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("./Data/SAGIA.csv")
data.head(2)

,Unnamed: 0,Unnamed: 0.1,tweet_id,airline_sentiment,airline_sentiment_confidence,airline,text,tweet_created,x,y
0,0,21,5.702641e+17,positive,1.0,Virgin America,@VirginAmerica I love this graphic. http://t.c...,2015-02-24 08:49:01 -0800,40.748043,-73.992953
1,1,28,5.702079e+17,negative,1.0,Virgin America,@VirginAmerica amazing to me that we can't get...,2015-02-24 05:05:28 -0800,42.361016,-71.020005

In [4]:
dataframe =  pd.DataFrame()

In [5]:
dataframe = sentiment_clossifier(data, "airline", "x", "y")

In [6]:
dataframe.head(3)

          airline          x           y sentiment
0  Virgin America  40.748043  -73.992953  positive
1  Virgin America  42.361016  -71.020005  negative
2  Virgin America  33.945404 -118.406247   neutral

In [8]:
dataframe.sentiment.value_counts()

negative    628
positive    134
neutral      93
Name: sentiment, dtype: int64

In [10]:
dataframe.to_csv("./outputs/spatial_semtiment.csv")